<div class="row">

    <div class="col-md-3">
        <div class="fixed">
            <div class="list-group">
                <a href="" class="list-group-item" ng-repeat="p in data" ng-click="scrollTo(p.id)">{{p.title}}</a> <!--TODO add class active-->
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <h1>Биография</h1>
        <div ng-repeat="p in data">
            <h2 id="{{p.id}}">{{p.title}}</h2>
            <p ng-repeat="t in p.text">{{t}}</p>
        </div>
    </div>

</div>