<!-- Header -->
<div>
    <img src="css/header.png" />
</div>

<!-- Jumbotron -->
<div class="jumbotron">
    <h1>Николай Васильевич Гоголь</h1>
    <p class="lead">(1809 — 1852) — русский прозаик, драматург, поэт, критик, публицист, признанный одним из классиков русской литературы. Происходил из старинного дворянского рода Гоголь-Яновских.</p>
    <p><a class="btn btn-lg btn-success" href="#/bio" role="button">Прочитать биографию</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-4" ng-repeat="a in data">
        <h2>{{a.name}}</h2>
        <p>{{a.description}}</p>
        <p><a class="btn btn-primary" ng-href="#/artwork/{{a.id}}" role="button">Читать полностью &raquo;</a></p>
    </div>
</div>

