<h1>Фотогалерея</h1>

<div style="width: 400px; margin: 0 auto;">
    <div class="fotorama"
         data-auto="false"
         data-width="{{opt.width}}"
         data-height="{{opt.height}}"
         data-loop="{{opt.loop}}"
         data-keyboard="{{opt.keyboard}}"
         data-nav="{{opt.nav}}"
         data-allowfullscreen="{{opt.fullScreen}}"
         data-autoplay="{{opt.autoPlay}}"
         data-shuffle="{{opt.shuffle}}"
        >

        <a href="data/photo/{{i.img}}" ng-repeat="i in items" data-caption="{{i.caption}}" ng-repeat-done="initFotorama()">
            <img ng-src="data/photo/thumb/{{i.img}}" />
        </a>

    </div>
</div>