<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <script src="../lib/jquery/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.css" />
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>

    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/angular/angular-sanitize.js"></script>
    <script src="../lib/angular/angular-route.js"></script>
    <script src="../js/myApp.js"></script>

    <style>
        .scrollspy-example {
            position: relative;
            height: 1000px;
            margin-top: 10px;
            overflow: auto;
        }
    </style>

    <script>
        jQuery(function(){
            console.log('jq', $('#death'));
        })
    </script>

    <title></title>
</head>
<body ng-controller="BioCtrl">
    <h1>Test</h1>

    <div class="row">
        <div class="col-md-3">
            <nav id="navbar-example2" style="position: fixed;">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="p in data" repeat-done="init()"><a href="#{{p.id}}">{{p.title}}</a></li>
                </ul>
            </nav>
        </div>

        <div class="col-md-9">
            <div id="spy" data-offset="0" class="scrollspy-example">
                <div id="{{p.id}}" ng-repeat="p in data">
                    <h2>{{p.title}}</h2>
                    <p ng-repeat="t in p.text">{{t}}</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>